h1 {
    color:#A5DD9B;
}

h2 {
    color:#C5EBAA
}
.my-projects {
    color:#F6F193;
}

.Contact-me {
    color:green;
}

.About-me {
    color:green;
}

.zaver {
    color:black;
    text-align:center;
    background-color: #F2C18D;
}

