h1 {
    color:red;
}

h2 {
    color:green;
}

.my-projects {
    color: #F2C18D
}

.Contact-me {
    color:green;
}

.About-me {
    color:green;
}

.zaver {
    color:black;
    text-align:center;
    background-color: #F2C18D;
}

